---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import VerificarEmp from '../components/verificarEmp.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<VerificarEmp/>
	</main>
</Layout>
