---
import Layout from '../layouts/Layout.astro';
import VerificarEmp from '../components/verificarEmp.astro';
import ControlColab from '../components/controlColab.astro';
---

<Layout title="Verificador de Empleado">
	<main>
		<VerificarEmp/>
	</main>
</Layout>
