<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm text-center">
    <img class="mx-auto h-28 w-auto" src="/src/img/logoContagramm.svg" alt="Your Company">
    <h2 class="mt-10 text-2xl font-bold tracking-tight text-gray-900 text-pretty">
      VERIFICADOR DE EMPLEADO
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form id="employeeForm" class="space-y-6">
      <div class="flex flex-col items-center">
        <label for="name" class="block text-sm font-bold text-gray-900 text-center">Nombre o N° Colaborador</label>
        <div class="mt-2">
          <input id="name" name="nameEmp" type="text" autocomplete="text" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 text-center shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm">
        </div>
      </div>
      <div class="flex justify-center">
        <button type="button" id="verifyButton" class="w-1/4 rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          Verificar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal de resultados -->
<div id="modal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 justify-center items-center">
  <div class="bg-white p-6 rounded-md shadow-lg">
    <h3>Detalles del empleado</h3>
    <p id="employeeDetails"></p>
    <button id="closeModal" class="mt-4 bg-blue-600 text-white px-4 py-2 rounded-md">Cerrar</button>
  </div>
</div>

<!-- Incluir el archivo JS -->
<script src="/src/components/checkEmp.js"></script>